<ion-header class="ion-no-border" translucent>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" align="center" *ngIf="usuarioLogado?.ROL">Hola {{usuarioLogado.NOMBRE}} !!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-avatar class="avatar">
      <ion-img src="./assets/images/no-avatar.png" class="imagenAvatar"></ion-img>
    </ion-avatar>
    <div class="image-text" align="center" color="primary" (click)="avatarActionSheet()">Cambiar Avatar</div>
  </div>


  <ion-button (click)="alertPassChange()" expand="block" fill="clear" shape="round">
    Cambiar Contraseña
  </ion-button>

  <ion-item>
    <ion-label>Puntos</ion-label>
  </ion-item>

  <ion-button (click)="logOut()" expand="block" fill="clear" shape="round">
    Cerrar sesión
  </ion-button>

  <ion-button (click)="alertDelete(usuarioLogado.ID)" expand="block" fill="clear" shape="round" color="danger">
    Eliminar Cuenta
  </ion-button>


</ion-content>