<ion-header>
  <ion-toolbar color="primary">
    <ion-title color ="secondary"></ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar>
      <img src="./assets/images/no-avatar.png" />
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  
  <ion-button (click)="passChange()" expand="block" fill="clear" shape="round">
    Cambiar Contraseña
  </ion-button>

  <ion-item>
    <ion-label>Puntos</ion-label>
  </ion-item>
  
  <ion-button (click)="logOut()" expand="block" fill="clear" shape="round">
    Cerrar sesión
  </ion-button>


</ion-content>