ion-icon {
    font-size: 72px;
    text-align: center;
    
}

ion-img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.color-twitter {
    color: #00acee;
}

.color-linkedin {
    color: #0e76a8;
}