<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AstroRetos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AstroRetos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Aplicacion de Retos de Astronomía</strong>
    <p>By: Juanma Pérez <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">en Ionic</a></p>
  </div>
</ion-content>
