<app-header titulo = "Noticias"></app-header>

<ion-content>
   <!--  <ion-header collapse="condense" mode="ios" class="ion-no-border">
        <ion-toolbar>
          <ion-title size="large">Juanma's News</ion-title>
        </ion-toolbar>
      </ion-header>
    <app-noticias [articles]="articles">
    </app-noticias>
     
    <ion-infinite-scroll 
    threshold="25%" 
    position="bottom" 
    (ionInfinite)="cargarNoticias()">
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles" 
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

<app-menu></app-menu>
</ion-content>
