/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.loginRegisterModal {
  --height: 35%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.loginRegisterModal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

.loginRegisterModal ion-toolbar {

  --color: white;
}

.imagenAvatar {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  // top:20%;
  // transform:translateY(-50%);
}

.avatar {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.multimedia-class {
  .action-sheet-group {

    // Estilo para alinear el botón 1 a la izquierda
    .ion-action-sheet-buttons-start {
      ion-button {
        margin-right: auto;
      }
    }

    // Estilo para alinear el botón 2 a la derecha
    .ion-action-sheet-buttons-end {
      ion-button {
        margin-left: auto;
      }
    }

    // Estilo para centrar los botones en el centro de la hoja de acción
    .ion-justify-content-center {
      display: flex;
      justify-content: center;
    }
  }

 /*  .action-sheet-button:nth-child(1) {
    background-image: url('ruta/a/la/imagen1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
  }

  .action-sheet-button:nth-child(2) {
    background-image: url('ruta/a/la/imagen2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
  } */
}