<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button><ion-icon name="home"></ion-icon></ion-fab-button>
  <ion-fab-list side="bottom" *ngFor="let opt for menuOpts">
    <ion-fab-button><ion-icon name="{{opt.icon}}"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="settings-sharp"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="help-circle-sharp"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>